<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= orgName %> Root Config</title>
  <!-- Just for testing, obviously we need to sync this with the actual url from @hr-forte/legacy -->
  <base href="http://localhost:8080">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';">
  <!-- <meta name="importmap-type" content="systemjs-importmap" /> -->
  <meta name="importmap-type" use-injector />
  <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
  <!-- More info at https://github.com/single-spa/import-map-overrides/blob/main/docs/configuration.md#domain-list -->
  <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

  <!-- Shared dependencies go into this import map -->
  <!-- <script type="systemjs-importmap"> -->
  <script type="injector-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@6.0.3/lib/es2015/esm/single-spa.min.js"
      }
    }
  </script>
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@6.0.3/lib/es2015/esm/single-spa.min.js" as="module">

  <!-- Add your organization's prod import map URL to this script's src  -->
  <!-- <script type="injector-importmap" src="/importmap.json"></script> -->

  <% if (isLocal) { %>
  <!-- <script type="systemjs-importmap"> -->
  <script type="injector-importmap">
    {
      "imports": {
        "@hr-forte/root-config": "//localhost:9000/hr-forte-root-config.js",
        "@hr-forte/webapp": "//localhost:8081/src/hr-forte-webapp.tsx",
        "@hr-forte/legacy": "//localhost:8080/hr-forte-legacy.js"
      }
    }
  </script>
  <% } %>
  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@5.1.1/dist/import-map-overrides.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@single-spa/import-map-injector@2.0.1/lib/import-map-injector.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@5.1.1/dist/import-map-overrides.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.15.1/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.15.1/dist/extras/amd.min.js"></script> -->
</head>
<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <!-- 
  Manually inject react-refresh for @hr-forte/webapp vite fast refresh to work. 
  Since @hr-forte/webapp is a micro fe, it doesn't have control over the index.html file
  More info:
  https://vite.dev/guide/backend-integration.html#backend-integration
  https://github.com/vitejs/vite/issues/1984#issuecomment-778289660
  https://github.com/vitejs/vite-plugin-react/blob/main/packages/plugin-react/README.md#middleware-mode
  -->
  <% if (isLocal) { %>
  <script type="module">
    // keep in sync this with @hr-forte/webapp vite.config.ts
    import RefreshRuntime from 'http://localhost:8081/@react-refresh'
    RefreshRuntime.injectIntoGlobalHook(window)
    window.$RefreshReg$ = () => {}
    window.$RefreshSig$ = () => (type) => type
    window.__vite_plugin_react_preamble_installed__ = true
  </script>
  <% } %>
  <script>
    // System.import('@hr-forte/root-config');
    window.importMapInjector.initPromise.then(() => {
      import('@hr-forte/root-config');
    });
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
